<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Era Psikologi</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">support@erapsi.com</a>
        <i class="fa fa-phone"></i> +62 877 8659 9925
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Era<span>Psikologi</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Beranda</a></li>
          <li><a href="#about">Tentang Era</a></li>
          <li><a href="#services">Pelayanan</a></li>
          <li><a href="#portfolio">Kegiatan</a></li>
          <li><a href="#team">Tim Era</a></li>
          <li class="menu-has-children"><a href="">Lain-lain</a>
            <ul>
              <li><a href="privacy_policy.html">Privacy Policy</a></li>
              <li><a href="term_conditions.html">Terms and conditions</a></li>            
            </ul>
        </li>
          <li><a href="#contact">Kontak</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Bersama  dalam<span> setiap langkah</span><br> perjalanan anda!</h2>
      <div>
        <a href="https://tester.erapsi.com" class="btn-get-started scrollto">Mulai Test Sekarang</a>
        <a href="#about" class="btn-projects scrollto">Tentang EraPsi</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/about-img.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>MANAGEMENT CONSULTING </h2>
            <h3>CV.PSI ERA adalah perusahaan yang bergerak di bidang konsultan psikologi.
              Kami memadukan antara ilmu psikologi dan IT dalam sebuah produk yang
              berbasis digital</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Pengalaman Tim kami sejak tahun 2021 dalam konsultan di bidang pelayanan
                jasa psikologi untuk persyaratan SIM A/C/BI/BII (Umum)</li>
              
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Pelayanan</h2>
          <p>Beberapa pelayanan yang kami sediakan untuk anda </p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Psikotes SIM </a></h4>
              <p class="description">Serangkaian tes yang digunakan untuk mengukur aspek-aspek tertentu dari kepribadian, kemampuan, minat, dan fungsi psikologis individu. Hasil tes dapat digunakan sebagai persyaratan proses penerbitan SIM</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">Layanan Konseling</a></h4>
              <p class="description">Bentuk bantuan profesional yang diberikan oleh konselor terlatih untuk membantu individu memahami dan mengatasi berbagai masalah pribadi, emosional, sosial, atau pendidikan. </p>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Psikoterapi</a></h4>
              <p class="description">Serangkaian intervensi yang dirancang untuk membantu individu mengatasi berbagai masalah psikologis, emosional, dan perilaku. </p>
            </div>
          </div>

          <!-- <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Mitra</h2>
          <p>Terimakasih untuk mitra kami</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Kegiatan Era</h2>
          <p>Beberapa kegiatan yang kami lakukan</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/1.png" class="portfolio-popup">
                <img src="img/portfolio/1.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assesmen Simling</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/2.png" class="portfolio-popup">
                <img src="img/portfolio/2.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assesmen Gerai</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/3.png" class="portfolio-popup">
                <img src="img/portfolio/3.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assessment Data Satpas</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/4.png" class="portfolio-popup">
                <img src="img/portfolio/4.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assesmen Gerai</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/5.png" class="portfolio-popup">
                <img src="img/portfolio/5.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assessment Data Satpas</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/6.png" class="portfolio-popup">
                <img src="img/portfolio/6.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assessment biro SDM</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/7.png" class="portfolio-popup">
                <img src="img/portfolio/7.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assessment biro SDM</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/8.png" class="portfolio-popup">
                <img src="img/portfolio/8.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Assessment biro SDM</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Prosedur Pelayanan</h2>
          <p>Berikut tahapan-tahapan dalam proses assessment psikologi </p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-arrow-right"></i></div>
              <h4 class="title"><a href="">Mendatangi Gerai </a></h4>
              <p class="description">Pemohon mendatangi gerai psikotes
                dengan menunjukkan kartu identitas
                berupa KTP serta memberitahukan jenis
                sim apa yang akan di buat baru atau
                diperpanjang. Asesor akan mendata,
                menyiapkan alat tes serta
                menginstruksikannya kepada pemohon</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-arrow-right"></i></div>
              <h4 class="title"><a href="">Psikotes</a></h4>
              <p class="description">Pemohon mengerjakan psikotes yang
                diberikan sesuai dengan durasi waktu
                yang telah ditentukan. Setelah selesai
                pemohon memberikan lembar tes kepada
                asesor untuk diberikan penilaian sesuai
                standar yang telah ditentukan </p>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-arrow-right"></i></div>
              <h4 class="title"><a href="">Psikoterapi</a></h4>
              <p class="description">Asesor melakukan skoring terhadap hasil yang dikerjakan pemohon dalam bentuk
                angka disetiap aspek seperti kognitif, psikomotorik dan kepribadian. Selesai skoring
                asesor akan memberikan hasil tes kepada pemohon berupa "surat keterangan lulus
                psikotes" tetapi jika pemohon masuk kategori "tidak memenuhi standar" asesor akan
                melakukan konseling terhadap pemohon. Dan memberikan catatan bahwa "telah
                dilaksakan konseling dan observasi </p>
            </div>
          </div>

          <!-- <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimoni</h2>
          <p>Beberapa testimoni dari para anggota tim </p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Saya Desta Israwanda, M.Psi., Psikolog sangat bersyukur dan bangga dapat bekerja di ERA PSI  sebagai psikolog. Perusahaan ini tidak hanya memberikan lingkungan kerja yang profesional dan mendukung, tetapi juga selalu mengutamakan kesejahteraan karyawannya.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-1.png" class="testimonial-img" alt="">
              <h3>Desta Israwanda, M.Psi</h3>
              <h4>Psikolog</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Di CV. Era Psi ini sangat memberikan banyak pengalaman berharga dan pelajaran baru yang sangat baik dan menyenangkan,  kerjasama tim yang baik, dan mengedepankan kesejahteraan para pegawai yang ada didalam perusahaan Era ini
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-2.png" class="testimonial-img" alt="">
              <h3>Yusnita</h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Di CV. Era psi ini sangat mendapatkan banyak pengalaman dan ilmu yg sangat luar biasa dan kerja sama tim yg baik, dimana kita bisa mengetahui karakter masyarakat dan cara menghadapi nya dengan baik.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-3.png" class="testimonial-img" alt="">
              <h3>Irgy</h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Cv Era Psi mengedepankan Pentingnya Inovasi Teknologi dalam Pelayanan Masyarakat serta Penyelesaian tugas kerja,  Team yang solid & kreatif, pemenuhan Hak karyawan secara penuh, serta jam kerja yang fleksibel.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-4.png" class="testimonial-img" alt="">
              <h3>Eliska</h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                 Saya memilih CV.Era Psi hingga saat ini karena merasa nyaman dg kebijakannya. Saya juga merasakan lingkungan kerja yang nyaman & rekan2 kerja yang solid serta selalu memberikan hal2 positif didalamnya, mengembangkan kompetensi yang kreatif & inovatif dalam pelayanan
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-5.png" class="testimonial-img" alt="">
              <h3>Putri </h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                CV Era Pscyologhy memberikan saya pengalaman baru , motivasi untuk lebih baik serta kesempatan dalam mengenal masyarakat. Ditambah memiliki team yang sangat kooperatif , bertanggung jawab dan aktif . Semoga kedepannya CV Era semakin inovatif , kreatif dan terus berkembang.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-6.png" class="testimonial-img" alt="">
              <h3>Isti  </h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Menjadi mitra terpercaya dalam memberikan solusi psikologi yang inovatif dan berkelanjutan di era modern
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-7.png" class="testimonial-img" alt="">
              <h3>Rusdy</h3>
              <h4>Direksi</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                CV ERA PSI sebagai perusahaan profesional pada bidang layanan Psikologi yg selalu memberikan tantangan dan pengembangan kemampuan khususnya pada bidang Psikologi serta perkembangan teknologi kepada para staf. Tentu ini menjadi tambahan nilai jual dan pengalaman yg mahal.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-8.png" class="testimonial-img" alt="">
              <h3>Salma</h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Di CV Era psi ini saya banyak belajar tentang hal2 baru yg  sebelumnya saya tidak ketahui sampai saya sangat menyukainya, saya sangat senang menjadi bagian dari perusahaan Era ini , karna mereka terus mempertahankan kultur perusahaan yg sangat hangat,yang tidak hanya mengutamakan bekerja, tetapi saling peduli seperti kelurga,
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-9.png" class="testimonial-img" alt="">
              <h3>Puput</h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Alasan saya memilih CV Era Psi karena merasa nyaman dan aman dengan pekerjaan serta kebijakannya. Lingkungan kerja yang sangat aman, nyaman, koooperatif serta support yang tinggi untuk meningkatkan dan mengasah kemampuan yang saya miliki merupakan alasan kuat bagi saya untuk tetap ada disini. 
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-10.png" class="testimonial-img" alt="">
              <h3>Savinka </h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                dari CV ERA psi ini saya  mengembangkan kompetensi sehingga saya dapat ilmu baru, pengalaman baru, dan juga kenyamanan lingkungan kerja dan rekan kerja nya semoga CV ERA psi sukses selalu
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <h3>Jelita </h3>
              <h4>Admin</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                dari CV ERA psi ini saya  mengembangkan kompetensi sehingga saya dapat ilmu baru, pengalaman baru, dan juga kenyamanan lingkungan kerja dan rekan kerja nya semoga CV ERA psi sukses selalu
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-12.png" class="testimonial-img" alt="">
              <h3>Kiki </h3>
              <h4>Assesor</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                saya mengalami banyak tantangan dan peluang yang telah membantu saya berkembang. Perusahaan ini memberikan lingkungan kerja yang mendukung dan kolaboratif. Saya merasa bangga menjadi bagian dari tim yang selalu berusaha memberikan yang terbaik dan terus berinovasi
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p> 
              <img src="img/testimonial-13.png" class="testimonial-img" alt="">
              <h3>Yudha  </h3>
              <h4>Assesor</h4>
            </div>


        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Call To Action Section
    ============================-->
    <!-- <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Hubungi Kami</h3>
            <p class="cta-text"> Segera hubungi kami</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section>#call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Tim Era</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-4.png" alt=""></div>
              <div class="details">
                <h4>Rusdy Chairil</h4>
                <span>Direktur</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-1.png" alt=""></div>
              <div class="details">
                <h4>Desta lsrawanda </h4>
                <span>Psikolog</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-2.png" alt=""></div>
              <div class="details">
                <h4>Savinka</h4>
                <span>Admin</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team-3.png" alt=""></div>
              <div class="details">
                <h4>Irgy</h4>
                <span>Assesor</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Hubungi Kami</h2>
          <p>Jika anda ingin berkonsulsi silahkan hubungi kami di bawah ini </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Jl. Cendrawasih IV RT. 003 Link. Cendrawasih Kelurahan Srimenanti Kecamatan Sungailiat</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>No Telp</h3>
              <p><a href="tel:+155895548855">+62 877 8659 9925</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">admin@erapsi.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3987.714013171728!2d106.09933047496692!3d-1.8609500981220517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMcKwNTEnMzkuNCJTIDEwNsKwMDYnMDYuOSJF!5e0!3m2!1sid!2sid!4v1719615766362!5m2!1sid!2sid" width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <!-- <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div> -->

      <div class="container">        
        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form id="contactForm" >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="nama" class="form-control" id="nama" placeholder="Nama" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="pesan" id="pesan" rows="5" required placeholder="Pesan"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
        </div>
      </div>

      <!-- Modal -->
      <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Your message has been successfully sent!</p>
        </div>
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Erapsi</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">IT Team</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script>
    document.getElementById('contactForm').addEventListener('submit', function(event) {
        const scriptURL = 'https://script.google.com/macros/s/AKfycbzLvd4dcHICHz7Qw0JFfpxuTnqErO9Qlnk6l9wOwDdezUzc3L11xFLMhmlJpPcFvzp3Mg/exec';
        const form = document.forms['contactForm'];
        var modal = document.getElementById("successModal");

        event.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            modal.style.display = "block";
            console.log('Success!', response);
        })
        .catch(error => {
          console.error('Error!', error.message)
        });
        
        // // Show modal dialog on success
        // var modal = document.getElementById("successModal");
        // modal.style.display = "block";
    
        // Close the modal when the user clicks on <span> (x)
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        // Close the modal when the user clicks anywhere outside of the modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
  </script>

  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
